
/**
页面顶部导航栏样式
**/
.nav-box {
    height: 50px;
    background-color: rgba(255,255,255,.7);
    padding: 25px 0;
}

.nav-box .layui-row {
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.nav-box a {
    font-size: 18px;
    color: black;
}

.nav-box a:hover, .nav-box a.active {
    color: #b1b1b1;
}

.nav-box a.active:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 15px;
    right: 15px;
    height: 4px;
    background-color: #d9b778;
}

.nav-logo {
    height: 50px;
    text-align: left;
    display: block;
}

.nav-btn {
    text-align: center;
}

.nav-btn a {
    font-size: 12px;
    color: #d9b778;
    margin-left: 10px;
}

.nav-btn a:hover {
    text-decoration: underline;
}

.nav-btn a{
    line-height: 20px;
    font-size: 12px;
    color: #d9b778;
    border: 2px solid #d9b778;
    border-radius: 6px;
    padding:  4px 10px;
    margin-left: 0;
}

.nav-btn a:hover {
    background-color: #d9b778;
    color: #373a49;
    text-decoration: none;
}

.nav-btn i {
    vertical-align: middle
}

.nav-item {
	margin:0 5px;
    position: relative;
}

.nav-menu {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background-color: #f2f2f2;
    padding: 10px 0;
    display: none;
}

.nav-menu:before {
    content: '';
    position: absolute;
    z-index: 9;
    left: 48%;
    top: -4px;
    width: 8px;
    height: 8px;
    background-color: #d9b778;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    
}

.nav-menu a {
    line-height: 20px;
    font-size: 12px;
    color: #373a49;
    /*border-bottom: 2px solid #d9b778;*/
    padding: 10px 0;
    margin: 0 10px;
    display: block;
}

.nav-menu a:hover {
    /*border-bottom: 2px solid #373a49;*/
    color: #b1b1b1;
}


/**
中间图片的样式
**/
.banner {
    height: 120px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
/**
选择条件的样式
**/
.select{
    box-shadow: 1px 1px 10px #888888;
    padding: 20px 0px;
}
/**
我的资源中展示结果的样式
**/
.client{
    padding:20px 0px;
}
/**
页面主体内容的样式
**/
.local {
    line-height: 20px;
    color: #999;
    padding: 15px;
    position: relative;
}

.local:after {
    content: '';
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #eee;
}

.local a {
    color: #666;
    padding-left: 5px;
    padding-right: 10px;
    position: relative;
}

.local a:hover {
    color: #f1daaf;
}

.local a:after {
    content: '-';
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    line-height: 12px;
    color: #999;
}

.local a:last-child:after {
    content: '';
}

.info-cn {
    font-size: 36px;
    color: #fff;
    padding-top: 20px;
}

.info-en {
    font-size: 24px;
    color: #f1daaf;
}

.about-box {
    background-color: #fff;
}

.about-head {
    line-height: 28px;
    font-size: 22px;
    font-weight: bold;
    color: #d9b778;
    border: 1px solid #f9fafb;
    padding: 10px 30px;
    border-bottom: 1px solid #f4f4f4;
    box-shadow: 2px 4px 15px rgba(230, 233, 238, 0.8);
    -webkit-box-shadow: 2px 4px 15px rgba(230, 233, 238, 0.8);
    -moz-box-shadow: 2px 4px 15px rgba(230, 233, 238, 0.8);
    -ms-box-shadow: 2px 4px 15px rgba(230, 233, 238, 0.8);
    position: relative;
}

.about-head:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    width: 4px;
    background-color: #d9b778;
}

.about-body {
    line-height: 28px;
    font-size: 16px;
    color: #373a49;
    padding: 40px 0px;
    box-shadow: 2px 2px 15px rgba(230, 233, 238, 0.8);
    -webkit-box-shadow: 2px 2px 15px rgba(230, 233, 238, 0.8);
    -moz-box-shadow: 2px 2px 15px rgba(230, 233, 238, 0.8);
    -ms-box-shadow: 2px 2px 15px rgba(230, 233, 238, 0.8);
}

.about-body p {
    padding-bottom: 10px;
}


/*
*页面的左边导航栏
*/
.news-box {
    padding-right: 50px;
}

.news-menu, .news-menu-item {
    line-height: 20px;
    background-color: #656d78;
    font-size: 16px;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    display: block;
}

.news-menu>i {
    margin-right: 10px;
}

.news-menu:hover{
    color: #d9b778;

}
.news-box .active{
    background-color: #373a49;
}

/***
页面底部样式
*/
.footer-nav {
    background-color: #262a33;
}

.footer-nav .layui-container{
	height: auto;
}

.footer-nav>div {
    /*padding: 20px 30px;*/
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
}

.footer-list li {
    line-height: 26px;
}

.footer-list a {
    font-size: 12px;
    color: #b1b1b1;
}

.footer-list i {
    margin-right: 10px;
    vertical-align: middle;
}

.footer-list a:hover {
    color: #c8a565;
}

.contact-box {
    position: relative;
    padding-bottom: 20px;
    padding-right: 50px;
}

.contact-ico {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    font-size: 12px;
    color: #b1b1b1;
}

.contact-info, .contact-info2 {
    font-size: 14px;
    color: #b1b1b1;
    padding-left: 30px;
}

.contact-info2 {
    font-family: PingFang SC, Arial;
    color: #9b9b9b;
}

.footer-map {
    line-height: 30px;
    background-image: url(image/footer.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto;
    font-size: 14px;
    color: #373c48;
    text-align: center;
    padding-top: 140px;
}

.footer-icp {
    background-color: #1f1f27;
    line-height: 40px;
    color: #b1b1b1;
}

.footer-icp>div {
    font-family: PingFang SC, '微软雅黑';
    font-size: 12px;
    padding: 0 30px;
}

.footer-icp span {
    color: #373c48;
    padding-left: 20px;
    float: right;
}

::-webkit-input-placeholder{
    color: #c5c5c5;
}

::-moz-placeholder{
    color: #c5c5c5;
    opacity: 1;
}

:-ms-input-placeholder{
    color: #c5c5c5;
}

.dux-page * {
    background-color: #373a49;
    color: #fff;
    padding: 8px 24px;
    margin: 0 10px;
}